.navbar {
    background-color: powderblue !important;
}

.row a {
    color: black;
    text-decoration: none;
}

.row a:hover {
    color: black;
}

.nav-item li a:hover {
    background-color: powderblue;
}

.card:hover {
    border: solid 1px coral;
}

.num1 {
    background-color: white;
    color: powderblue;
    width: 300px;
}

a.num2 {
    padding: 4px 200px;
    cursor: pointer;
    background-color: papayawhip;
}

a.num2:hover {
    background-color: wheat;
}

.card-img-top-1 {
    height: 20em;
    object-fit: cover;
    max-width: 90%;
}