ul,
li {
    list-style: none;
}

.navbar {
    background-color: powderblue !important;
}

.row a {
    color: black;
    text-decoration: none;
}

.row a:hover {
    color: black;
}

.nav-item li a:hover {
    color: coral;
}

.card:hover {
    border: solid 1px coral;
}

.nav1 .sub-menu {
    display: none;
    top: 0;
    left: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    padding: 6px 18px;
    cursor: pointer;
    border-color: black;
}

.nav1 .sub-menu li a:hover {
    color: coral;
}

.nav1 li {
    position: relative;
}

.nav1 li :hover>.sub-menu {
    display: block;
}

.nav1:hover .sub-menu {
    display: block;
}

.num1 {
    background-color: white;
    color: powderblue;
    width: 300px;
}

a.num2 {
    padding: 5px 200px;
    cursor: pointer;
    background-color: papayawhip;
}

.card-img-top-1 {
    height: 20em;
    width: 20em;
    object-fit: cover;
}

.xem_them {
    width: 100%;
    background-color: papayawhip;
    cursor: pointer;
}

button.xem_them:hover {
    background-color: wheat;
}

.social a {
    font-size: 20px;
    padding: 2rem;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-youtube {
    color: #bb0000;
}

.fa-envelope {
    color: #B23121;
}

.fa-instagram {
    color: #517fa4;
}

.icon {
    margin-top: 10px;
}

#xem_them {
    display: none;
}

#cla {
    display: none;
}