.row a {
    color: black;
    text-decoration: none;
}

.row a:hover {
    font-family: unset;
    color: black;
}

.nav-item li a:hover {
    background-color: powderblue;
}

.marg1 {
    height: 60px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg1 {
    background: powderblue;
}

.navbar {
    background-color: powderblue !important;
}

.carousel-inner img {
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    color: black;
}

.num1 {
    width: 100%;
    height: 300px;
}

.num2 {
    width: 150px;
    height: 150px;
}

.num3 {
    width: 100%;
    height: 200px;
}

.num4 {
    color: #ee4d2d;
    font-size: 18px;
}

.card:hover {
    border: solid 1px royalblue;
}